<div class="row" data-tarea-form>
  <div class="col-xs-12">
    <form id="form-save-tarea"
          name="saveTareaForm"
          data-ng-submit="tareaForm.saveTarea(saveTareaForm)"
          novalidate>
      <div class="form-group"
            data-ng-class="{'has-error': saveTarea.$submitted && saveTarea.titulo.$error.required}">
        <label class="control-label" for="tareaTitulo">Título</label>
        <input type="text"
                class="form-control"
                id="tareaTitulo"
                placeholder="Título"
                data-ng-model="tareaForm.titulo"
                name="titulo"
                required>
        <span class="help-block"
              data-ng-show="saveTarea.$submitted && saveTarea.titulo.$error.required">
          This field is mandatory!.
        </span>
      </div>
      <div class="form-group"
            data-ng-class="{'has-error': saveTarea.$submitted && saveTarea.descripcion.$error.required}">
        <label class="control-label" for="tareaDescripcion">Descripción</label>
        <textarea class="form-control"
                  id="tareaDescripcion"
                  placeholder="Descripción"
                  data-ng-model="tareaForm.descripcion"
                  name="descripcion"
                  rows="3"
                  required></textarea>
        <span class="help-block"
              data-ng-show="saveTarea.$submitted && saveTarea.descripcion.$error.required">
          This field is mandatory!.
        </span>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  </div>
</div>

<div class="row" data-tareas-list>
  <div class="col-xs-12" data-ng-if="tareasList.tareas.length">
    <hr>
    <button type="button"
            class="btn btn-primary"
            data-ng-click="tareasList.reset()">
      Reset
    </button>
    <hr>
    <ul class="tasks-list list-unstyled">
      <li data-ng-repeat="tarea in tareasList.tareas">
        [{{ $index }}] - {{ tarea.titulo }} - {{ tarea.fecha | date : 'dd MMM y'}}
        <br>
        {{ tarea.descripCion }}
        <br>
        Completado: {{ tarea.completado }}
        <br>
        <button data-ng-if="!tarea.completado"
                type="button"
                class="btn btn-primary"
                data-ng-click="tareasList.cambiarEstado($index)">
          Completar
        </button>
        &nbsp;&nbsp;
        <button type="button"
                class="btn btn-danger"
                data-ng-click="tareasList.remove($index)">
          Borrar
        </button>
      </li>
    </ul>
  </div>
</div>
